In [1]:
#import statements
import os
import subprocess
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField
from pyspark.sql.types import DoubleType, IntegerType, StringType
from pyspark.sql.functions import size
from functools import reduce
from pyspark.sql import DataFrame
from pyspark.sql.types import *
import glob
import pyspark.sql.functions as func

In [2]:
spark = SparkSession.builder.master("local").getOrCreate()
spark

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/02 16:33:10 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/04/02 16:33:11 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/04/02 16:33:11 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/04/02 16:33:11 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
23/04/02 16:33:11 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
23/04/02 16:33:11 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.

In [3]:
data_local = "/Users/himakarananthasetty/Downloads/SEM2/CloudComp/Assignment5/data"

In [4]:
year=2010
set_the_df = {}
while year<=2022: #As the data is till 2022
    data = glob.glob(data_local + "/"+str(year)+"/*.csv")
    set_the_df["csv_df_{0}".format(year)]  = spark.read.option("header", "true").option("delimiter",",").csv(data,inferSchema=True)
    year+=1

In [5]:
#Question1
print("Find the hottest day (column MAX) for each year, and provide the corresponding station code, station name and the date (columns STATION, NAME, DATE).   > There should be 13 results")
print("Note: The value of 9999.9 will be disregarded as it is treated as a null or missing value.")
print("The 13 results are below with column MAX")
year=2010
i=1
set_the_df["csv_df_"+str(year)].createOrReplaceTempView("temporary_elements")
print(i)
print(year)
result = spark.sql("SELECT STATION, NAME, DATE, MAX FROM temporary_elements where MAX =(select MAX((MAX)) from temporary_elements where MAX!=9999.9) limit 1 ").show()
year=year+1
i+=1

Find the hottest day (column MAX) for each year, and provide the corresponding station code, station name and the date (columns STATION, NAME, DATE).   > There should be 13 results
Note: The value of 9999.9 will be disregarded as it is treated as a null or missing value.
The 13 results are below with column MAX
23/04/02 16:33:15 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
1
2010
+-----------+--------------------+-------------------+----+
|    STATION|                NAME|               DATE| MAX|
+-----------+--------------------+-------------------+----+
|99407099999|DESTRUCTION IS. W...|2010-08-15 00:00:00|74.8|
+-----------+--------------------+-------------------+----+

In [6]:
#Question1
set_the_df["csv_df_"+str(year)].createOrReplaceTempView("temporary_elements")
print(i)
print(year)

result = spark.sql("SELECT STATION, NAME, DATE, MAX FROM temporary_elements where MAX =(select MAX((MAX)) from temporary_elements where MAX!=9999.9) limit 1 ").show()
i+=1
year+=1

2
2011
+----------+-------------+-------------------+----+
|   STATION|         NAME|               DATE| MAX|
+----------+-------------+-------------------+----+
|1046099999|SORKJOSEN, NO|2011-07-09 00:00:00|87.8|
+----------+-------------+-------------------+----+

In [7]:
#Question1
set_the_df["csv_df_"+str(year)].createOrReplaceTempView("temporary_elements")
print(i)
print(year)

result = spark.sql("SELECT STATION, NAME, DATE, MAX FROM temporary_elements where MAX =(select MAX((MAX)) from temporary_elements where MAX!=9999.9) limit 1 ").show()
i+=1
year+=1

3
2012
+----------+-------------+-------------------+----+
|   STATION|         NAME|               DATE| MAX|
+----------+-------------+-------------------+----+
|1023099999|BARDUFOSS, NO|2012-07-05 00:00:00|72.0|
+----------+-------------+-------------------+----+

In [8]:
#Question1
set_the_df["csv_df_"+str(year)].createOrReplaceTempView("temporary_elements")
print(i)
print(year)

result = spark.sql("SELECT STATION, NAME, DATE, MAX FROM temporary_elements where MAX =(select MAX((MAX)) from temporary_elements where MAX!=9999.9) limit 1 ").show()
i+=1
year+=1

4
2013
+----------+--------------+-------------------+----+
|   STATION|          NAME|               DATE| MAX|
+----------+--------------+-------------------+----+
|1001499999|SORSTOKKEN, NO|2013-08-02 00:00:00|80.6|
+----------+--------------+-------------------+----+

In [9]:
#Question1
set_the_df["csv_df_"+str(year)].createOrReplaceTempView("temporary_elements")
print(i)
print(year)

result = spark.sql("SELECT STATION, NAME, DATE, MAX FROM temporary_elements where MAX =(select MAX((MAX)) from temporary_elements where MAX!=9999.9) limit 1 ").show()
i+=1
year+=1

5
2014
+----------+-------------+-------------------+----+
|   STATION|         NAME|               DATE| MAX|
+----------+-------------+-------------------+----+
|1023099999|BARDUFOSS, NO|2014-07-10 00:00:00|89.6|
+----------+-------------+-------------------+----+

In [10]:
#Question1
set_the_df["csv_df_"+str(year)].createOrReplaceTempView("temporary_elements")
print(i)
print(year)

result = spark.sql("SELECT STATION, NAME, DATE, MAX FROM temporary_elements where MAX =(select MAX((MAX)) from temporary_elements where MAX!=9999.9) limit 1 ").show()
i+=1
year+=1

6
2015
+----------+----------+-------------------+----+
|   STATION|      NAME|               DATE| MAX|
+----------+----------+-------------------+----+
|1025099999|TROMSO, NO|2015-07-30 00:00:00|71.6|
+----------+----------+-------------------+----+

In [11]:
#Question1
set_the_df["csv_df_"+str(year)].createOrReplaceTempView("temporary_elements")
print(i)
print(year)

result = spark.sql("SELECT STATION, NAME, DATE, MAX FROM temporary_elements where MAX =(select MAX((MAX)) from temporary_elements where MAX!=9999.9) limit 1 ").show()
i+=1
year+=1

7
2016
+----------+-----------+-------------------+----+
|   STATION|       NAME|               DATE| MAX|
+----------+-----------+-------------------+----+
|1023199999|DRAUGEN, NO|2016-07-21 00:00:00|77.0|
+----------+-----------+-------------------+----+

In [12]:
#Question1
set_the_df["csv_df_"+str(year)].createOrReplaceTempView("temporary_elements")
print(i)
print(year)

result = spark.sql("SELECT STATION, NAME, DATE, MAX FROM temporary_elements where MAX =(select MAX((MAX)) from temporary_elements where MAX!=9999.9) limit 1 ").show()
i+=1
year+=1

8
2017
+----------+-------------+-------------------+----+
|   STATION|         NAME|               DATE| MAX|
+----------+-------------+-------------------+----+
|1023099999|BARDUFOSS, NO|2017-06-09 00:00:00|78.6|
+----------+-------------+-------------------+----+

In [13]:
#Question1
set_the_df["csv_df_"+str(year)].createOrReplaceTempView("temporary_elements")
print(i)
print(year)

result = spark.sql("SELECT STATION, NAME, DATE, MAX FROM temporary_elements where MAX =(select MAX((MAX)) from temporary_elements where MAX!=9999.9) limit 1 ").show()
i+=1
year+=1

9
2018
+----------+----------+-------------------+----+
|   STATION|      NAME|               DATE| MAX|
+----------+----------+-------------------+----+
|1025099999|TROMSO, NO|2018-07-29 00:00:00|84.2|
+----------+----------+-------------------+----+

In [14]:
#Question1
set_the_df["csv_df_"+str(year)].createOrReplaceTempView("temporary_elements")
print(i)
print(year)

result = spark.sql("SELECT STATION, NAME, DATE, MAX FROM temporary_elements where MAX =(select MAX((MAX)) from temporary_elements where MAX!=9999.9) limit 1 ").show()
i+=1
year+=1

10
2019
+----------+-------------+-------------------+----+
|   STATION|         NAME|               DATE| MAX|
+----------+-------------+-------------------+----+
|1023099999|BARDUFOSS, NO|2019-07-21 00:00:00|78.8|
+----------+-------------+-------------------+----+

In [15]:
#Question1
set_the_df["csv_df_"+str(year)].createOrReplaceTempView("temporary_elements")
print(i)
print(year)

result = spark.sql("SELECT STATION, NAME, DATE, MAX FROM temporary_elements where MAX =(select MAX((MAX)) from temporary_elements where MAX!=9999.9) limit 1 ").show()
i+=1
year+=1

11
2020
+----------+-------------+-------------------+----+
|   STATION|         NAME|               DATE| MAX|
+----------+-------------+-------------------+----+
|1023099999|BARDUFOSS, NO|2020-06-22 00:00:00|79.9|
+----------+-------------+-------------------+----+

In [16]:
#Question1
set_the_df["csv_df_"+str(year)].createOrReplaceTempView("temporary_elements")
print(i)
print(year)

result = spark.sql("SELECT STATION, NAME, DATE, MAX FROM temporary_elements where MAX =(select MAX((MAX)) from temporary_elements where MAX!=9999.9) limit 1 ").show()
i+=1
year+=1

12
2021
+----------+------------+-------------------+----+
|   STATION|        NAME|               DATE| MAX|
+----------+------------+-------------------+----+
|1065099999|KARASJOK, NO|2021-07-05 00:00:00|88.3|
+----------+------------+-------------------+----+

In [17]:
#Question1
set_the_df["csv_df_"+str(year)].createOrReplaceTempView("temporary_elements")
print(i)
print(year)

result = spark.sql("SELECT STATION, NAME, DATE, MAX FROM temporary_elements where MAX =(select MAX((MAX)) from temporary_elements where MAX!=9999.9) limit 1 ").show()
i+=1
year+=1

13
2022
+----------+----------+-------------------+----+
|   STATION|      NAME|               DATE| MAX|
+----------+----------+-------------------+----+
|2095099999|PAJALA, SW|2022-07-01 00:00:00|85.5|
+----------+----------+-------------------+----+

In [18]:
#Question2
print("2. Find the coldest day (column MIN) for the month of January across all years (2010 - 2022) , and provide the corresponding station code, station name and the date (columns STATION, NAME, DATE). > There should be 1 result")
print("Note: The value of 9999.9 will be disregarded as it is treated as a null or missing value.")
print("The 1 result is below with column MIN")
dfs = [set_the_df["csv_df_2010"],set_the_df["csv_df_2011"],set_the_df["csv_df_2012"],set_the_df["csv_df_2013"],set_the_df["csv_df_2014"],set_the_df["csv_df_2015"],set_the_df["csv_df_2016"],set_the_df["csv_df_2017"],set_the_df["csv_df_2018"],set_the_df["csv_df_2019"],set_the_df["csv_df_2020"],set_the_df["csv_df_2021"],set_the_df["csv_df_2022"]]
dataframe = reduce(DataFrame.unionAll, dfs)

dataframe.createOrReplaceTempView("temporary_elements")
res = spark.sql("SELECT STATION, NAME, DATE, MIN FROM temporary_elements where MIN=(select MIN((MIN)) from temporary_elements where MIN!=9999.9 and  month(DATE)=1) limit 1 ").show()

2. Find the coldest day (column MIN) for the month of January across all years (2010 - 2022) , and provide the corresponding station code, station name and the date (columns STATION, NAME, DATE). > There should be 1 result
Note: The value of 9999.9 will be disregarded as it is treated as a null or missing value.
The 1 result is below with column MIN
+----------+-------------+-------------------+-----+
|   STATION|         NAME|               DATE|  MIN|
+----------+-------------+-------------------+-----+
|1023099999|BARDUFOSS, NO|2017-01-05 00:00:00|-28.3|
+----------+-------------+-------------------+-----+

In [19]:
#Question3
print("3. Maximum and Minimum precipitation (column PRCP ) for the year 2015, and provide the corresponding station code, station name and the date (columns STATION, NAME, DATE). > There should be 2 results.  Any max or min would do.  Just choose 1 or each.")
print("NOTE: 0 and 99.9 is ignored as - “0” indicates no measure of precipitation as per the code (includes a trace).Missing = 99.99)")
print("Chose both, so the 2 results are below with column PRCP of year 2015")

set_the_df["csv_df_2015"].createOrReplaceTempView("temporary_elements")

res = spark.sql("(SELECT STATION, NAME, DATE, PRCP FROM temporary_elements where PRCP=(select MIN((PRCP)) from temporary_elements where PRCP!=0.00) limit 1) UNION (SELECT STATION, NAME, DATE, PRCP FROM temporary_elements where PRCP=(select MAX((PRCP)) from temporary_elements where PRCP!=99.99) limit 1) ").show()

3. Maximum and Minimum precipitation (column PRCP ) for the year 2015, and provide the corresponding station code, station name and the date (columns STATION, NAME, DATE). > There should be 2 results.  Any max or min would do.  Just choose 1 or each.
NOTE: 0 and 99.9 is ignored as - “0” indicates no measure of precipitation as per the code (includes a trace).Missing = 99.99)
Chose both, so the 2 results are below with column PRCP of year 2015
+----------+------------+-------------------+----+
|   STATION|        NAME|               DATE|PRCP|
+----------+------------+-------------------+----+
|1008099999|LONGYEAR, SV|2015-01-18 00:00:00|0.01|
|1025099999|  TROMSO, NO|2015-11-02 00:00:00|2.11|
+----------+------------+-------------------+----+

In [20]:
#Question4
print("4.Count percentage missing values for wind gust (column GUST) for the year 2019. > There should be 1 result")
print("Note: The value of 999.99 will be disregarded as it is treated as a null or missing value.")
print("The 1 result is below")

set_the_df["csv_df_2019"].createOrReplaceTempView("temporary_elements")
res= spark.sql("select (Select COUNT(GUST) from temporary_elements where GUST=999.9) * 100/count(GUST) as Missing_Value from temporary_elements").show()

4.Count percentage missing values for wind gust (column GUST) for the year 2019. > There should be 1 result
Note: The value of 999.99 will be disregarded as it is treated as a null or missing value.
The 1 result is below
+-----------------+
|    Missing_Value|
+-----------------+
|82.87671232876713|
+-----------------+

In [21]:
#Question5
print("5.Find the mean, median, mode and standard deviation of the Temperature (column TEMP) for each month for the year 2020. > There should be 12 results for each month")
print("The four results Mean, Standard_Deviation, Mode and Median are below")
set_the_df["csv_df_2020"].createOrReplaceTempView("temporary_elements")
res = spark.sql("select month(DATE), avg(temp) as Mean, STDDEV(temp) as Standard_Deviation from temporary_elements where temp!= 9999.9 group by month(DATE) order by month(DATE)").show()

set_the_df["csv_df_2020"].createOrReplaceTempView("temporary_elements")
mode=spark.sql("with samp1 as (Select month(date) as MONTH, temp,count(temp) over (partition by temp, month(date)) as cnt from temporary_elements ),  samp2 as (select distinct MONTH, max(cnt) over(partition by MONTH) mx from samp1) select distinct samp2.MONTH , max(samp1.temp) over (partition by samp2.MONTH) as Mode from samp1, samp2 where  samp1.MONTH=samp2.MONTH and samp1.cnt=samp2.mx order by samp2.MONTH") 
mode.show()

set_the_df["csv_df_2020"].createOrReplaceTempView("temporary_elements")
res= spark.sql("Select temp,month(date) as month from temporary_elements where temp!= 9999.9 order by month(date) ")
res.groupBy("month").agg(func.percentile_approx("temp", 0.5).alias("Median")).orderBy("month").show()

5.Find the mean, median, mode and standard deviation of the Temperature (column TEMP) for each month for the year 2020. > There should be 12 results for each month
The four results Mean, Standard_Deviation, Mode and Median are below
+-----------+------------------+------------------+
|month(DATE)|              Mean|Standard_Deviation|
+-----------+------------------+------------------+
|          1|15.896774193548387|12.805172721989297|
|          2| 13.35862068965517| 13.09180853418292|
|          3|14.653225806451612|15.784789500893567|
|          4|23.329999999999995| 13.02209725617009|
|          5| 36.21935483870967| 8.077246704851957|
|          6| 47.42999999999999| 8.877190347997287|
|          7| 52.88709677419356|  6.66378723291517|
|          8|49.287096774193564| 6.548594740281946|
|          9| 41.84499999999999| 5.887660897797832|
|         10|31.529032258064507| 9.609052888228815|
|         11|29.246666666666666| 8.143448373534971|
|         12| 19.95483870967743| 8.854464048157649|
+-----------+------------------+------------------+

+-----+----+
|MONTH|Mode|
+-----+----+
|    1| 5.7|
|    2|15.5|
|    3|35.4|
|    4|34.1|
|    5|37.0|
|    6|58.6|
|    7|49.3|
|    8|44.7|
|    9|46.5|
|   10|32.2|
|   11|36.3|
|   12|25.3|
+-----+----+

+-----+------+
|month|Median|
+-----+------+
|    1|  14.9|
|    2|  15.3|
|    3|  18.6|
|    4|  26.0|
|    5|  36.0|
|    6|  46.0|
|    7|  51.4|
|    8|  48.7|
|    9|  42.5|
|   10|  30.7|
|   11|  29.8|
|   12|  20.2|
+-----+------+